<?xml version="1.0" encoding="utf-8" ?>
<configuration>



    <!-- configSections 标签必须是在configuration标签体中的第一个位置上！ 否则报错 -->
    <configSections>
        <sectionGroup name="iBATIS">
            <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <iBATIS>
        <logging>
            <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.TraceLoggerFA, IBatisNet.Common">
                <arg key="showLogName" value="true" />
                <arg key="showDataTime" value="true" />
                <arg key="level" value="ALL" />
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS" />
            </logFactoryAdapter>
        </logging>
    </iBATIS>


    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>