<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper">
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

    <!--db provider配置文件路径-->
    <providers resource="mybatis/providers.config"/>


  <database>
    <!-- <provider name="OleDb2.0"/> -->
    <provider name="SQLite3"/>

    <!-- <dataSource name = "redundant" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Code\C#_code\RiderLearning\GoatVS\chapter6-2-3\db\myAccess.mdb;Persist Security Info=False"/> -->
    <dataSource name = "redundant" connectionString="Data Source=.\db\sqlite.db;Version=3"/>
  </database>
  
  <sqlMaps>
    <!-- <sqlMap embedded="chapter9_2_2.mybatis.sqlMaps.sys_user.xml,chapter9_2_2"/> -->
    <!-- <sqlMap embedded="chapter9_2_2.mybatis.sqlMaps.sys_person.xml,chapter9_2_2"/> -->
    <sqlMap embedded="chapter9_2_2.mybatis.sqlMaps.sys_fileJob.xml,chapter9_2_2"/>
  </sqlMaps>
  
</sqlMapConfig>






<!--The error occurred while loading Providers.
- initialize provider
- Check the MySql.-->


<!--找到原因了：
主要是在Providers中mysql 的Dll的版本问题：
引用的MySql.Data.dll的版本是多少：在mysql的配置中就应该是多少：
description="MySQL, MySQL provider V5.1.5.0"
enabled="true"
default="true"
assemblyName="MySql.Data, Version=5.1.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionClass="MySql.Data.MySqlClient.MySqlConnection"
如上面我用的是5.1.5.0那么这个地方就应该是5.1.5.0这个不是mysql的版本，而是msyql.data.dll的版本。
弄了一天半，解决了。-->
