<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper">
  <settings>
    <setting useStatementNamespaces="true"/>
      <!-- 启用缓存 -->
    <setting cacheModelsEnabled="true"/>
  </settings>

    <!--db provider配置文件路径-->
    <providers resource="mybatis/providers.config"/>


  <database>
    <!-- <provider name="OleDb2.0"/> -->
    <provider name="SQLite3"/>

    <!-- <dataSource name = "redundant" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Code\C#_code\RiderLearning\GoatVS\chapter6-2-3\db\myAccess.mdb;Persist Security Info=False"/> -->
    <dataSource name = "redundant" connectionString="Data Source=.\db\sqlite.db;Version=3"/>
  </database>
  
  <sqlMaps>
    <sqlMap embedded="chapter9_2_2.mybatis.sqlMaps.sys_fileJob.xml,chapter9_2_2"/>
    <sqlMap embedded="chapter9_2_2.mybatis.sqlMaps.sys_dbJob.xml,chapter9_2_2"/>
  </sqlMaps>
  
</sqlMapConfig>



