<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <!--注册spring的切面-->
        <sectionGroup name="spring">
            <!--注册spring的上下文切面-->
            <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
            <!--注册spring的对象切面-->
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
        </sectionGroup>
    </configSections>

    <!--Spring的依赖注入配置-->
    <spring>
        <context>
            <!--使用配置文件里面spring节点下面objects节点里面的资源-->
            <resource uri="config://spring/objects"/>
        </context>
        <!--objects节点内配置需要注入到spring容器内的类-->
        <objects xmlns="http://www.springframework.net">
            <!--type组成： 逗号前面是命名空间.类名 逗号后面是程序集名称-->
            <object id="bll" type="BLLOracle.OracleService,BLLOracle"/>
        </objects>
    </spring>


    <connectionStrings>
        <!--Oracle数据库连接字符串-->
        <add name="ORACLE" connectionString="Data Source=127.0.0.1/orcl;Persist Security Info=True;User ID=scott;Password=tiger;Unicode=True;"/>
        <!--SqlServer数据库连接字符串-->
        <add name="SqlServer" connectionString="Data Source=.;Initial Catalog=******;Persist Security Info=True;User ID=******;Password=*********"/>
    </connectionStrings>

    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>