<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

    <!--db provider配置文件路径-->
    <providers resource="IBatis/providers.config"/>


  <database>
    <provider name="OleDb2.0"/>
    <dataSource name = "redundant" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Code\C#_code\RiderLearning\GoatVS\chapter6-2-3\db\myAccess.mdb;Persist Security Info=False"/>
   <!-- private readonly OleDbConnection oleDb = new OleDbConnection(@"Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Code\C#_code\RiderLearning\GoatVS\chapter5-2-6\db\myAccess.mdb;Persist Security Info=False"); -->
  </database>
  
  <sqlMaps>
    <sqlMap embedded="chapter6_2_3.IBatis.sqlMaps.sys_user.xml,chapter6_2_3"/>
  </sqlMaps>
  
</sqlMapConfig>






<!--The error occurred while loading Providers.
- initialize provider
- Check the MySql.-->


<!--找到原因了：
主要是在Providers中mysql 的Dll的版本问题：
引用的MySql.Data.dll的版本是多少：在mysql的配置中就应该是多少：
description="MySQL, MySQL provider V5.1.5.0"
enabled="true"
default="true"
assemblyName="MySql.Data, Version=5.1.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionClass="MySql.Data.MySqlClient.MySqlConnection"
如上面我用的是5.1.5.0那么这个地方就应该是5.1.5.0这个不是mysql的版本，而是msyql.data.dll的版本。
弄了一天半，解决了。-->
