<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <connectionStrings>
        <!--Oracle数据库连接字符串-->
        <add name="ORACLE" connectionString="Data Source=1912.168.172.48/orcl;Persist Security Info=True;User ID=jyt;Password=123456;Unicode=True;"/>
    </connectionStrings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>